/* 导入 字体文件 */
@font-face {
  font-family: 'wjsfont';
  src: url('../font/MiFie-Web-Font.eot');
  src: url('../font/MiFie-Web-Font.eot?#iefix') format('embedded-opentype'), url('../font/MiFie-Web-Font.woff') format('woff'), url('font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.svg') format('svg');
}
/* 定义 使用的class */
.wjsfont {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'wjsfont';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.wjsfont-logo::before {
  content: '\e920';
}
.wjsfont-name::before {
  content: '\e921';
}
.wjsfont-e903::before {
  content: '\e903';
}
.wjsfont-e901::before {
  content: '\e901';
}
.wjsfont-e904::before {
  content: '\e904';
}
.wjsfont-e905::before {
  content: '\e905';
}
.wjsfont-e902::before {
  content: '\e902';
}
/* 添加 产品列表的 文字样式 */
.wjsfont-e915::before {
  content: '\e915';
}
.wjsfont-new01::before {
  content: "\e90e";
}
.wjsfont-new02::before {
  content: "\e90f";
}
.wjsfont-new03::before {
  content: "\e910";
}
.wjsfont-new04::before {
  content: "\e911";
}
/* 网页 最下方的 合作单位 */
.wjsfont-partner01::before {
  content: "\e946";
}
.wjsfont-partner02::before {
  content: "\e92f";
}
.wjsfont-partner03::before {
  content: "\e92e";
}
.wjsfont-partner04::before {
  content: "\e92a";
}
.wjsfont-partner05::before {
  content: "\e929";
}
.wjsfont-partner06::before {
  content: "\e931";
}
.wjsfont-partner07::before {
  content: "\e92c";
}
.wjsfont-partner08::before {
  content: "\e92b";
}
.wjsfont-partner09::before {
  content: "\e92d";
}
.wjs_tool .row div {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  text-align: center;
}
.wjs_tool .row div a {
  color: #808080;
  position: relative;
}
.wjs_tool .row div a img {
  position: absolute;
  top: 17px;
  left: -7px;
  z-index: 1;
  display: none;
}
.wjs_tool .row div a:hover img {
  display: block;
}
.wjs_tool .row div:last-child {
  border-right: none;
}
.wjs_nav .navbar {
  margin-bottom: 0;
}
.wjs_nav .container a {
  height: 80px;
  line-height: 80px;
  padding: 0;
  padding: 0 15px;
}
.wjs_nav .container .navbar-brand {
  padding-top: 5px;
}
.wjs_nav .container .navbar-brand .wjsfont-logo {
  color: red;
  font-size: 70px;
}
.wjs_nav .container .navbar-brand .wjsfont-name {
  font-size: 70px;
}
.wjs_nav .container .navbar-nav li a:hover,
.wjs_nav .container .navbar-nav li a:focus {
  border-bottom: 1px solid red;
}
.wjs_carousel img {
  width: 100%;
}
.wjs_exchange {
  padding-top: 10px;
  padding-bottom: 40px;
}
.wjs_exchange a {
  color: #808080;
}
.wjs_exchange a:hover {
  color: red;
}
.wjs_exchange a .media {
  padding: 20px 0;
}
.wjs_exchange a .media span {
  font-size: 40px;
}
.wjs_exchange a .media h4 {
  font-size: 22px;
}
.wjs_waiting {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.wjs_waiting .row {
  padding: 30px 0;
  padding-left: 30px;
}
.wjs_waiting .row .pull-left a {
  color: red;
  border-bottom: 1px dashed red;
}
.wjs_waiting .row .pull-right a {
  color: #000;
}
.wjs_recommend .rec-cart {
  margin: 10px 0px;
  padding-right: 80px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 0 #ccc, -1px -1px 1px 0 #ccc;
  background-color: #f7f7f7;
  position: relative;
}
.wjs_recommend .rec-cart a {
  color: #808080;
}
.wjs_recommend .rec-cart a .cart-left {
  width: 100%;
  padding-top: 23px;
  padding-left: 5px;
  padding-right: 5px;
}
.wjs_recommend .rec-cart a .cart-left h4 {
  text-align: center;
}
.wjs_recommend .rec-cart a .cart-left h4:hover {
  text-decoration: underline;
}
.wjs_recommend .rec-cart a .cart-left .cart-info-r {
  width: 50%;
  text-align: right;
}
.wjs_recommend .rec-cart a .cart-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
  border-left: 1px dashed #000;
  text-align: center;
  padding-top: 60px;
}
.wjs_recommend .rec-cart a .cart-right:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 #ccc;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.wjs_recommend .rec-cart a .cart-right:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 -1px 2px 0 #ccc;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.wjs_recommend .cart-red {
  background-color: red;
}
.wjs_recommend .cart-red a {
  color: #fff;
}
.wjs_recommend .cart-red a .cart-left {
  position: relative;
}
.wjs_recommend .cart-red a .cart-left span {
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
}
.wjs_recommend .cart-red a .cart-right {
  border-left: 1px dashed #fff;
}
.wjs_recommend .cart_progress .cart-right span:nth-of-type(1) {
  border: 1px solid green;
  color: green;
  font-size: 14px;
}
.wjs_recommend .cart_progress .cart-right span:nth-of-type(2) {
  border: 1px solid red;
  color: red;
  margin-left: 5px;
}
.wjs_news h4 {
  font-size: 30px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  position: relative;
}
.wjs_news h4 span {
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  background-color: #fff;
}
.wjs_news .row .news-global ul {
  list-style: none;
}
.wjs_news .row .news-global li {
  margin-bottom: 60px;
}
.wjs_news .row .news-global li a {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 10px;
  background-color: #ccc;
  position: relative;
  z-index: 2;
}
.wjs_news .row .news-global li a span {
  font-size: 50px;
  color: #fff;
}
.wjs_news .row .news-global li a:hover,
.wjs_news .row .news-global li a:focus {
  background-color: red;
}
.wjs_news .row .news-global li a .news-line {
  width: 1px;
  height: 390px;
  border-left: 1px dashed #000;
  position: absolute;
  top: 70px;
  left: 50%;
}
footer h4 {
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}
footer ul {
  list-style: none;
  padding-left: 190px;
}
footer ul li {
  font-size: 80px;
  margin-right: 30px;
}
footer ul li a {
  color: #808080;
}
